@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">My Virtual Store</h1>
 
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
         
          
            <p><a class="btn btn-outline-dark" href="https://localhost:44311/Vaporizer/List">Vaporizers</a></p>
        </section><br><br />
        <section class="col-md-4" aria-labelledby="librariesTitle">
            

            <p><a class="btn btn-outline-dark" href="https://localhost:44311/Suppliers/List">Suppliers</a></p>
        </section>

    </div>
</main>